
# -----------------------
# PostgreSQL configuration
# -----------------------
POSTGRES_CONTAINER=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=nikrad
POSTGRES_PORT=5432

# -----------------------
# Redis configuration
# -----------------------
REDIS_CONTAINER=
REDIS_PORT=6379

# -----------------------
# Application configuration
# -----------------------
WEB_CLIENT_PORT=3000
WEB_ADMIN_PORT=3001
BACKEND_CLIENT_PORT=8001
BACKEND_ADMIN_PORT=8000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nikrad?schema=public"